.page-footer {
  background: #f76707;
  width: 100vw;
  padding-bottom: 20px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.footer-list-item {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.footer-list-item:hover {
  background: #fd7e14;
}
.list-item-text {
  color: #fff4e6;
}
/*
FULL WIDTH STYLES DESKTOP


.page-footer {
  background: #f76707;
  width: 100vw;
  padding-bottom: 20px;
}
.footer-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}
.footer-list-item {
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

*/
