.nav-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.list-item {
  margin: 15px 15px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
.list-item:hover {
  background: #f76707;
  cursor: pointer;
  color: white
}
.page-name {
  font-size: 2em;
  font-family: "Trispace", sans-serif !important;
}
.page-name-text {
  color: #f76707;
}
.nav-text{
  color: inherit
}
.user-action{
  background: #f76707;
  color: white;
}
.user-action:hover{
  background: #fd7e14;
}

